body {
  font-family: Arial;
}

#nav {
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.menu {
  display: inline-block;
  padding: 12px 30px;
  margin: 0 8px;
  background: linear-gradient(#ff7aa8, #ff4f87);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 0 #cc3a66;
}

#servicesBox {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.service-item {
  width: 200px;
  margin: 6px auto;
  padding: 12px 0;
  background: linear-gradient(#ff7aa8, #ff4f87);
  color: white;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 0 #cc3a66;
}

.box {
  width: 300px;
  margin: 60px auto;
  padding: 20px;
  background: white;
  text-align: center;
  box-shadow: 0 0 10px gray;
}

#galleryBox {
  text-align: center;
  margin-top: 60px;
}

#left , #right{
  width: 60px;
  cursor: pointer;
}

#img {
  width: 150px;
  height: 150px;      
  object-fit: cover;  
}
